/* Access Wallet Screen */
.walletAccess-page,
.walletAccess-title {
    background: #18264b;
}

.walletAccess-title {
    color: #fff;
}

.pin-status-container,
.pin-pad-footerLinks a {
    color: #fff;
}

.pin-pad {
    width: 278px;
    margin: 0 auto;
}

.pin-pad li {
    margin-bottom: 15px;
}

.pin-pad-erase:link {
    color: #fff;
}

a.pin-pad-key {
    border-color: #fff;
    line-height: 68px;
    width: 68px;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
}

/* Secure Wallet Screen */
.createWallet-page,
.createWallet-title {
    background: #18264b;
}

.createWallet-content,
.createWallet-title {
    color: #fff;
}

.createWallet-desc {
    color: #fff;
}

.createWallet-form small {
    color: #fff;
}

.createWallet-form label {
    display: none;
}

.createWallet-footerLinks a {
    color: #fff;
}

.

#requestPinReset {
    display:none;
}

#requestLostDevice {
    display:none;
}

#container {
    height: 100vh;
}

.pin-status {
    font-size: 30px;
    line-height: 27px;
}

.walletAccess-title {
    color: #fff;
    margin-bottom: 10px;
}

.fa-chevron-left:before {
    content: "\f137";
}

.pin-status-container {
    margin:20px;
}

a.pin-pad-key {
    font-size:22px;
}

a.pin-pad-key:active {
    border-color: #18264b;
    background-color:#fff;
    color: #18264b;
}

.createWallet-desc SPAN {
    display: none;
}

.createWallet-desc:after {
    content: "Please create a 4 digit PIN to secure your wallet against unauthorized use.";
}

.createWallet-footerLinks a {
    color: #fff;
    font-size: 16px;
}

.createWallet-form label {
    display: inline;
    color: #fff;
}

small {
    font-size: 10px;
}

.addCard-label-expMonth SPAN {
    display: none;
}

.addCard-label-expMonth:after {
    content: "Expiration";
}

.addCard-label-expYear {
    display:none;
}

.addCard-input-expMonth {
    width: 60%;
}

.addCard-input-expYear {
    width: 35%;
}


